[submodule "awesome/.config/awesome"]
	path = awesome/.config/awesome
	url = git@github.com:lynuskho/awesome
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:lynuskho/nvim.git
